<form
  class="main-form"
  action="<%= submitPath %>?_csrf=<%= locals.csrfToken %>"
  method="post"
  enctype="multipart/form-data"
>
  <p>
    <label for="title">Title of the Product</label>
    <input
      type="text"
      id="title"
      value="<%= product.title  %>"
      name="title"
      required
    />
  </p>
  <p>
    <label for="image">Upload the product image</label>
    <input type="file" id="image" name="image" accept=".jpg, .png, .jpeg"
    <% if(imageReq) {%>
    required <% } %>/>
  </p>
  <p>
    <label for="summary">Add a product Summary</label>
    <input
      type="text"
      id="summary"
      value="<%= product.summary %>"
      name="summary"
      maxlength="250"
    />
  </p>
  <p>
    <label for="price">Product price (in Rs)</label>
    <input
      type="number"
      id="price"
      name="price"
      value="<%= product.price  %>"
      min="1"
      step="1"
      required
    />
  </p>
  <label for="description">Add the product description</label>
  <textarea
    name="description"
    id="description"
    maxlength="800"
    rows="7"
    required
  >
<%= product.description  %></textarea>

  <p id="ctrl-btns">
    <button class="btn btn-alt" type="reset">Reset</button>
    <button class="btn">Save</button>
  </p>
</form>
