<article class="product-card">
    <h2 class="product-title"><%=product.title%></h2>
    <img id="product-img" src="<%= product.imageURL %>" alt="<%= product.title %>">
    <div class="control-links">
        <a class="control-link" href="/admin/products/<%= product.id %>">View & Edit</a>
            <button class="btn btn-red" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Delete</button>
    </div>
</article>