<article class="product-card">
  <h2 class="product-title"><%=product.title%></h2>
  <img
    id="product-img"
    src="<%= product.imageURL %>"
    alt="<%= product.title %>"
  />
  <div class="control-links">
    <% if (locals.isAdmin) { %>
    <a class="control-link" href="/admin/products/<%= product.id %>"
      >View & Edit</a
    >
    <button
      class="btn btn-red"
      data-productid="<%= product.id %>"
      data-csrf="<%= locals.csrfToken %>"
    >
      Delete
    </button>
    <% } else { %>
        <p class="product-price">Rs <%= product.price %></p>
        <div class="product-highlights">
            <p><%= product.summary %></p>
        </div>
        <form action="/products/<%= product.id %>" method="get" >
        <button class="btn view-btn">View</button>
      </form>
        <% } %>
  </div>
</article>
