<%- include('../../shared/includes/head', {title: "Your Cart"}) %>
<link rel="stylesheet" href="/styles/product.css">
<link rel="stylesheet" href="/styles/cart.css">
<script src="/js/update-cart.js" defer></script>
<!-- <script src="/js/cart-mgmt.js" defer ></script> -->
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1 class="heading">Your Cart</h1>
        <hr>
        <ul id="cart-items">
            <% for (const cartItem of locals.cart.items) { %>
            <li>
               <%- include("../includes/cart-item", {item : cartItem}) %> 
            </li>
            <% } %>
        </ul>
        <div id="cart-footer">
            <% if(locals.cart) { %>
            <p id="total-amount">Subtotal: Rs <%= locals.cart.totalPrice %> </p>
            <% } %>
            <% if(locals.isAuth) { %>
                <% if(locals.cart) { %>
                    <form action="/orders" method="POST">
                        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                        <button class="btn">Proceed to buy</button>
                    </form>
                <% } %>
            <% } else { %>  
                <p class="auth-msg"> Login to purchase your items </p>    
            <% } %>  
        </div>
  
    </main>
<%- include('../../shared/includes/footer') %>