<%- include('../../shared/includes/head', {title: product.title}) %>
<link rel="stylesheet" href="/styles/product.css">
<script src="/js/cart-mgmt.js" defer ></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1 class="discount-info">Avail discount of 20% on products purchased for next 2 weeks!</h1>
        <section id="product-view">
        <header>
            <h1 class="prdt-title"><%= product.title %> </h1>
            <img id="single-product-img" src="<%= product.imageURL %>" alt="<%= product.title %>">
        </header>
        <article class="product-info">
        <h2 class="title2">Description</h2>
        <p class="prdt-descr"><%= product.description %></p>
    </article>
    </section>
    <div class="product-ctrl">
    <p class="prdt-price"><span>MRP: Rs </span><span class="disc-price"><%= product.price %></span> <span class="og-price"> <%= product.price + product.price*(20/100)  %></span></p>
    <button id="cart-btn" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>" class="btn">Add to cart</button>
    </div>
    </main>
<%- include('../../shared/includes/footer') %>